@media screen and (min-width: 1024px) {
    body { font-size: 15px; }
    .g-wrapper {
        min-height: 50em;
    }
    .b-about {
        max-width: 44em;
    }
    .b-data {
        width: 60%;
    }
    .g-footer {
        height: 8em;
        top: -8em;
    }
}

@media screen and (min-width: 1280px) {
    body { font-size: 16px; }
    .b-apps {
        background-position: 1em center;
    }
    .b-data {
        width: 90%;
    }
    .b-apps .apps_text {
        display: block;
    }
    .b-field .field_refresh {
        width: auto;
    }
    .b-about {
        max-width: 44em;
    }
    .g-footer {
        height: 7em;
        top: -7em;
    }
}

@media screen and (min-width: 1440px) {
    body { font-size: 17px; }
    .g-wrapper {
        min-height: 47em;
    }
}

@media screen and (min-width: 1600px) {
    .b-slides .slides_title { font-size: 2.5375em; }
}

@media screen and (max-height: 43em) {
    .b-news .news_item {
        display: none;
    }
    .b-news .news_item.news-main {
        display: block;
        height: auto;
        position: relative;
        float: none;
        width: auto;
        margin: 0;
        padding: 0 0 0 3em;
    }
    .b-news .news_date {
        top: 0.2em;
    }
}
@media screen and (max-height: 48em) {
    .b-news .news_item {
        height: 2.75em;
    }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 2000px), (min-resolution: 192dpi) and (min-width: 2000px) {
    /* Retina-specific stuff here */

    /*

    .b-social .social_item {
        width: 80px;
        height: 80px;
    }

    div.logo_img {
        height: 81px;
        width: 286px;
    }
    */

    .b-bg .bg_page {
        width: 32px;
        height: 32px;
    }

}